{% extends "layout.html" %}
{% set title = 'Overview' %}
{% block body %}
  <p><a href="../mfu-downloads/mfu-{{release}}.tar.gz">Download MFU {{ release }}</a></p>
 <p> 	
	See <a href="{{ pathto("quickstart") }}">Quickstart</a> for more information about the content of the distribution.
</p>


<p>
	<h1>Changelog</h1><br />
	<strong><i>Version 0.61 - 19 July 2010</i></strong>
		<ul>
			<li>Corrected a bug with IE and tooltip</li>
		</ul>
	<strong><i>Version 0.6 - 18 July 2010</i></strong>
		<ul>
			<li>Thumbnails is only available if the server returned a full thumb url in json response</li>
			<li>added cache strategy. The thumb is GET as soon as the image is uploaded.</li>
		</ul>
		
	<strong><i>Version 0.5 - 24 June 2010</i></strong>
		<ul>
			<li><strong>new feature :</strong> Integration of thumbnails mechanism. So far, pymager takes care of  image resizing. Feel free to provide your code ( take a look at getThumbUrl() in FileUploader.php ) by using another mechanism ( GD or whatever )</li>
		</ul>
		
	<strong><i>Version 0.4 - 19 June 2010</i></strong>
		<ul>
			<li>A bug has been corrected for Webkit layout engine browsers ( Chrome, Safari ... ). The user could not select a file properly. </li>
		</ul>
	<strong><i>Version 0.3 - 11 June 2010</i> </strong>
		<ul>
			<li>MFU has been updated to dojo 1.5rc1 for "150 Demos for Dojo 1.5.0"</li>
			<li>Demo is now embedded to the site</li>
			<li>added Claro theme to samples</li> 
		</ul>
	<strong><i>Version 0.2 - 2 June 2010 </i></strong>
		<ul>
			<li> MFU is now compliant with dijit themes ( soria, nihilo, tundra ) , samples updated</li>
		</ul>
	<strong><i>Version 0.1 - 9 May 2010</i> </strong>
		<ul>
			<li>First Public release</li>
		</ul>
  <p>
 Take a look at <a href="{{ pathto("devzone") }}">Developer Zone</a> for information on how to retrieve the source code.
  </p>
  
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">MFU is liberally dual-licensed under the <a href="http://www.opensource-definition.org/licenses/bsd-license.html">New BSD license</a> and the <a href="http://www.opensource-definition.org/licenses/afl-2.1.html">Academic Free License v2.1</a> ( same license terms as dojo).</p>
</div>
  



  
{% endblock %}
